body{
    background: url(night.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
    background-color: hsla(0, 0%, 51%, 0.1);
}